include sc_leflib/__init__.py
include sc_leflib/_leflib.pyx
include sc_leflib/_leflib.pxd
include sc_leflib/CMakeLists.txt
recursive-include lef *.cpp *.hpp *.h *.c *.y
include lef/CMakeLists.txt
recursive-include lef */CMakeLists.txt
